# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.jpg
*.png
*.jpeg
*.gif
*.ini

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Non required directores
/tiva/boot_loader
/tiva/docs
/tiva/grlib
/tiva/inc
/tiva/third_party
/tiva/tools
/tiva/usblib
/tiva/utils
/tiva/windows_drivers
/tiva/sensorlib
/tiva/driverlib
/tiva/examples/peripherals
/tiva/examples/project
/tiva/examples/boards/ek-tm4c123gxl
/tiva/examples/boards/ek-tm4c123gxl-boostxl-kentec-s1
/tiva/examples/boards/ek-tm4c123gxl-boostxl-senshub
/tiva/examples/boards/ek-tm4c1294xl-boostxl-kentec-s1
/tiva/examples/boards/ek-tm4c1294xl-boostxl-senshub
/tiva/examples/boards/ek-tm4c129exl
/tiva/examples/boards/dk-tm4c129x
/tiva/examples/boards/dk-tm4c129x-boostxl-senshub
*.json
*.html
*.txt
